<div class="contenedor">

  <div class="cabecera">
    <div>
      <h1>👨‍🏫 Profesores</h1>
      <p>Gestión de profesores</p>
    </div>

    <button class="btn-volver" (click)="volver()">
      ← Volver
    </button>
  </div>

  <div class="card">

    <div class="acciones">
      <button class="btn-nuevo">
        + Nuevo profesor
      </button>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>DNI</th>
          <th>Nombre completo</th>
          <th>Especialidad</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
        @for (profesor of profesores; track profesor.id) {
          <tr>
            <td>{{ profesor.id }}</td>
            <td>{{ profesor.dni }}</td>
            <td>{{ profesor.nombre }}</td>
            <td>{{ profesor.especialidad }}</td>
            <td>
              <span class="estado">
                {{ profesor.estado }}
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>

  </div>
</div>