<div class="contenedor">

  <div class="cabecera">
    <div>
      <h1>👨‍🎓 Estudiantes</h1>
      <p>Gestión de estudiantes registrados</p>
    </div>

    <button class="btn-volver" (click)="volver()">
      ← Volver
    </button>
  </div>

  <div class="card">

    <div class="acciones">
      <button class="btn-nuevo">
        + Nuevo estudiante
      </button>
    </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>DNI</th>
          <th>Nombre completo</th>
          <th>Grado</th>
          <th>Sección</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
        @for (estudiante of estudiantes; track estudiante.id) {
          <tr>
            <td>{{ estudiante.id }}</td>
            <td>{{ estudiante.dni }}</td>
            <td>{{ estudiante.nombre }}</td>
            <td>{{ estudiante.grado }}</td>
            <td>{{ estudiante.seccion }}</td>
            <td>
              <span class="estado">
                {{ estudiante.estado }}
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>

  </div>
</div>