<div class="contenedor">

  <div class="cabecera">

    <div>

      <h1>
        📚 Cursos
      </h1>

      <p>
        Gestión de cursos académicos
      </p>

    </div>

    <button
      class="btn-volver"
      (click)="volver()"
    >
      ← Volver
    </button>

  </div>

  <div class="card">

    <div class="acciones">

      <button class="btn-nuevo">
        + Nuevo curso
      </button>

    </div>

    <table>

      <thead>

        <tr>

          <th>ID</th>

          <th>Curso</th>

          <th>Nivel</th>

          <th>Grado</th>

          <th>Horas semanales</th>

        </tr>

      </thead>

      <tbody>

        @for (
          curso of cursos;
          track curso.id
        ) {

          <tr>

            <td>
              {{ curso.id }}
            </td>

            <td>
              {{ curso.nombre }}
            </td>

            <td>
              {{ curso.nivel }}
            </td>

            <td>
              {{ curso.grado }}
            </td>

            <td>
              {{ curso.horas }}
            </td>

          </tr>

        }

      </tbody>

    </table>

  </div>

</div>